<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="CHIP, BCH, tipping"/>
        <meta property="og:title" name="title" content="Chip Feed"/>
        <meta property="og:description" name="description" content="{{ total_tips }} CHIP | {{ tipped_user_name }} - CHIP Bot"/>
        {% if media_type == 'photo' %}
            <meta property="og:image" content="{{ original_message_mediapath }}"/>
        {% endif %}
</head>
<body>
    <p>CHIP tip details - Feed coming soon</p>
</body>
</html>
